*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'sunny_spellsregular';
    src: url('../Javascript Drum Kit/fonts/sunnyspellsregular-mv9ze-webfont.woff2') format('woff2'),
        url('../Javascript Drum Kit/fonts/sunnyspellsregular-mv9ze-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: rgb(208, 220, 224);
   
}

header{
    display: flex;
    justify-content: center;
    font-family: 'sunny_spellsregular';
    color: rgb(255, 255, 255);
    height: 10vh;
    background-color: blueviolet;
    align-items:center ;
}